.grid-module {
  margin: 2rem 0;

  &__card {
    font-size: 1.5rem;
    margin: 1px;
    background: $theme-color-base;
    border: 1px solid $theme-color-base-ink;

    h5 {
      font-size: 1.625rem;
      text-align: center;

      @include breakpoint('from-tablet') {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }

  &__row {
    @include row(0);
    position: relative;
    max-width: 62rem;
    margin: 0 auto;
  }

  @mixin responsive-grid-col($value, $min-value: null) {
    @if $min-value {
      @include col($min-value);
    }

    @else {
      @include col(100%);
    }

    @include breakpoint('from-tablet') {
      @include col($value);
    }
  }

  &__col {
    &--12 {
      @include responsive-grid-col(100%);
    }
    &--8 {
      @include responsive-grid-col(66.66666%);
    }
    &--6 {
      @include responsive-grid-col(50%);
    }
    &--4 {
      @include responsive-grid-col(33.33333%, 50%);
    }
    &--3 {
      @include responsive-grid-col(25%);
    }
  }

  &__aspect-ratio {
    position: relative;
    overflow: hidden;
    height: 0;

    &--1x1 {
      @extend .grid-module__aspect-ratio;
      padding-bottom: 100%;
    }

    &--1x2 {
      @extend .grid-module__aspect-ratio;
      padding-bottom: 200%;
    }

    &--2x1 {
      @extend .grid-module__aspect-ratio;
      padding-bottom: 50%;
    }

    &--object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__tile {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: white;

    &--interactive {
      opacity: 0.95;

      &:hover {
        opacity: 0.98;
      }

      .tile--clickable {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    .id-icon {
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      width: 1.5em;
      height: 1.5em;

      @include breakpoint('from-tablet') {
        width: 2em;
        height: 2em;
      }
    }

    .action-icon {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
    }
  }
}
