.header {
  background: white;
  border-bottom: 1px solid $theme-color-base-lighter;

  &__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
  }

  &__site {
    &-link {
      margin-right: 1rem;
    }

    &-title {
      letter-spacing: 0.1em;
      font-weight: 500;
      color: $theme-color-base-ink;
    }
  }

  &__nav {
    &-list {
      display: flex;
      @include evenly-space-children(1rem);
    }
  }
}
