.mobile-header {
  background: white;
  border-bottom: 1px solid $theme-color-base-lighter;

  &__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
  }

  &__site-header {
    padding-right: 1rem;
  }

  &__site-logo {
    letter-spacing: 0.1em;
    color: $theme-color-base-ink;
  }

  & ul,
  & li {
    margin: 0;
    padding: 0;
  }

  &__nav-list {
    display: flex;
    @include evenly-space-children (1rem);
  }
}
