.player {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #cccccc;

  &__bottom-row {
    display: flex;
    height: 96px;
  }

  &__start,
  &__center,
  &__end, {
    flex: 1 1;
    display: flex;
    align-items: center;
    @include evenly-space-children (16px);
  }

  &__start {
    justify-content: flex-start;
  }

  &__center {
    justify-content: center;
  }

  &__end {
    justify-content: flex-end;
  }

  &__play-button {
    width: 52px;
    height: 52px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
  }

  &__volume-slider {
    max-width: 130px;
  }
}
