.visualizer {
  position: relative;
  display: flex;
  height: calc(100vh - #{$navbar-height} - #{$player-height});

  &__analyzer {
    width: fit-content;
    max-height: 100%;
    overflow: hidden;
    margin: auto;
  }
  canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  &__prahar {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: -1;
    line-height: 0.8;

    &-numeral {
      position: relative;
      font-size: calc(6rem + 10vw);
    }

    &-clock {
      position: absolute;
      top: 1.25rem;
      left: 1.25rem;
      font-size: calc(1rem + 6vw);
      letter-spacing: 0.1em;
      color: $theme-color-base-lighter;
      opacity: 0.4;
    }
  }

  &__raga-info {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    text-align: right;
  }

  &__raga-name {
    font-size: calc(2rem + 4vw);
    margin: 0 0 1rem;
  }

  &__raga-detail {
    font-size: calc(1rem + 1vw);
    margin: 0 0 0.5rem;
    // font-size: 32px;
    // line-height: 42px;
    font-weight: 200;
    color: $theme-color-base;
  }
}
