// Base colors
$theme-color-base-lightest: $gray-10;
$theme-color-base-lighter: $gray-20;
$theme-color-base-light: $gray-30;
$theme-color-base: $gray-50;
$theme-color-base-dark: $gray-60;
$theme-color-base-darker: $gray-70;
$theme-color-base-darkest: $gray-90;
$theme-color-base-ink: $gray-90;

