html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-weight: normal;
}

body {
  color: $theme-color-base-ink;
}

button {
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
