.glossary {
  min-height: 60vh;

  &__title {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  &__term {
    display: block;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    text-align: left;
    color: $theme-color-base-light;
    transition: color 0.4s;

    &:hover,
    &:focus,
    &.active {
      color: white;
    }
  }

  &__definition {
    font-size: 1.125rem;
    line-height: 1.5em;
  }
}
