.glossary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  padding: 0 1rem;
  overflow: hidden;

  &__title {
    letter-spacing: 0.1rem;
  }

  &__content {
    width: 100%;
  }

  &__row-top {
    @include row(0, 3rem);
  }

  &__row-bottom {
    @include row(3rem);
  }

  &__col {
    width: 100%;

    &--terms {
      margin: 0 0 2rem;
      @include breakpoint('from-tablet') {
        width: 33.33333%;
        margin: 0;
      }
    }

    &--definition {
      @include breakpoint('from-tablet') {
        width: 66.66666%;
      }
    }
  }

  &__term {
    display: block;
    margin-bottom: 0.75rem;
    font-size: 1.75rem;
    color: $theme-color-base-light;
    transition: color 0.4s;

    &:hover,
    &:focus,
    &.active {
      color: white;
    }
  }

  &__definition {
    font-size: 1.125rem;
    line-height: 1.5em;
  }
}
