.glossary {
  min-height: 60vh;

  &__title {
    margin-bottom: units(6);
    @include typeset(
      $theme-font-role-heading,
      $theme-type-scale-3xl,
      $theme-line-height-heading
    );
  }

  &__term {
    display: block;
    text-align: left;
    margin-bottom: units(2);
    color: color($theme-color-base-light);
    transition: color 0.4s;
    @include typeset(
      $theme-font-role-ui,
      $theme-type-scale-2xl,
      $theme-line-height-ui
    );

    &:hover,
    &:focus,
    &.active {
      color: color($theme-color-text-inverse);
    }
  }

  &__definition {
    @include typeset(
      $theme-font-role-body,
      $theme-type-scale-xl,
      $theme-line-height-body
    );
  }
}
