@use "sass:math";

.layout {
  width: 100%;
  padding-left: units(2);
  padding-right: units(2);
}

.layout > .content {
  margin-left: auto;
  margin-right: auto;

  @include at-media("tablet") {
    width: math.percentage(math.div(3, 4));
  }

  @include at-media("desktop") {
    width: math.percentage(math.div(2, 3));
  }
}

.layout__main {
  padding-bottom: units($theme-player-height-mobile);

  @include at-media("tablet") {
    padding-bottom: units($theme-player-height-desktop);
  }
}
