.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid $theme-color-base-lighter;
  z-index: 6000;

  &__bottom-row {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 'start center';
    height: $player-height--mobile;
    @include breakpoint('from-tablet') {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: 'start center end';
      height: $player-height--desktop;
    }
  }

  &__start,
  &__center,
  &__end {
    display: flex;
    align-items: center;
    @include evenly-space-children(1rem);
  }

  &__start {
    grid-area: start;
    justify-content: flex-start;
  }

  &__center {
    grid-area: center;
    justify-content: center;
  }

  &__end {
    grid-area: end;
    display: none;
    @include breakpoint('from-tablet') {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__icon {
    &--play,
    &--pause {
      font-size: 3rem;
    }
  }

  .control {
    &--volume {
      // read more at https://css-tricks.com/sliding-nightmare-understanding-range-input/
      $track-width: 130px;
      $track-height: 4px;
      $thumb-diameter: 12px;
      $track-color: $theme-color-base-lighter;
      $thumb-color: $theme-color-base-ink;

      @mixin track {
        box-sizing: border-box;
        max-width: $track-width;
        height: $track-height;
        background: $track-color;
        border: none;
        border-radius: $track-height * 0.5;
        cursor: pointer;
      }

      @mixin thumb {
        box-sizing: border-box;
        width: $thumb-diameter;
        height: $thumb-diameter;
        background: $thumb-color;
        border: none;
        border-radius: 50%;
        cursor: pointer;
      }

      width: $track-width;
      height: $thumb-diameter;
      margin: 0;
      padding: 0;
      background: transparent;

      &,
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
      &::-webkit-slider-runnable-track {
        @include track;
      }
      &::-moz-range-track {
        @include track;
      }
      &::-ms-track {
        @include track;
      }
      &::-webkit-slider-thumb {
        margin-top: ($track-height - $thumb-diameter) * 0.5;
        @include thumb;
      }
      &::-moz-range-thumb {
        @include thumb;
      }
      &::-ms-thumb {
        margin-top: 0;
        @include thumb;
      }
      &::-ms-tooltip {
        display: none;
      }
    }
  }
}
